/* Use Open Sans as the default sans serif font. */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,700|Source+Code+Pro:300,400,500,700");

/* Create some Boardum CSS variables. */
:root {
  --site-navbar-bg: #376551;
  --site-navbar-bg-rgb: 55, 101, 81;
  --site-navbar-text: black;
  --site-navbar-highlight-text: var(--bs-gray-500);
}
/* Change bootstrap variable values.
 See https://getbootstrap.com/docs/5.2/customize/css-variables/
 */
body {
  --bs-dark: var(--site-navbar-bg);
  --bs-dark-rgb: var(--site-navbar-bg-rgb);
}

/* Color the light Brand and links with dark color */
.bg-light span, .bg-light a {
  color:  var(--site-navbar-bg);
}

/* When logged in we switch the NavBar to bg-dark so we need to override the styles to give light text. */
.bg-dark span, .bg-dark a {
  color: var(--site-navbar-text);
}

/* When logged in we highlight the selected route. */
.bg-dark a.nav-link.active {
  color: var(--site-navbar-highlight-text);
}

/* Override the color on the dropdown when logged in. */
.bg-dark a.dropdown-item {
  color: var(--site-navbar-bg);
}

/* Landing page color blocking */
.landing-green-background {
  background-color: var(--site-navbar-bg);
  color: var(--site-navbar-text);
  padding-top: 20px;
}

.landing-white-background {
  background-color: var(--site-navbar-text);
  color: var(--site-navbar-bg);
  padding-top: 20px;
}

.reset-margins {
  margin-top: 0;
  margin-bottom: 0;
}

.dropdown-toggle::after {
  display: none !important;
}

.btn-primary {
  /* Normal Colors */
  --bs-btn-bg: var(--site-navbar-bg) !important;
  --bs-btn-color: var(--site-navbar-text) !important;
  --bs-btn-border-color: var(--site-navbar-text) !important;
  /* Hover Colors */
  --bs-btn-hover-bg: var(--site-navbar-bg) !important;
  --bs-btn-hover-color: var(--site-navbar-highlight-text) !important;;
  --bs-btn-hover-border-color: var(--site-navbar-highlight-text) !important;
  /* Active Colors (Pressed) */
  --bs-btn-active-bg: var(--site-navbar-text) !important;;
  --bs-btn-active-color: var(--site-navbar-bg) !important;
  --bs-btn-active-border-color: var(--site-navbar-bg) !important;
}

.btn-outline-primary {
  --bs-btn-bg: var(--site-navbar-text) !important;
  --bs-btn-color: var(--site-navbar-bg) !important;
}

.navbar-nav {
  --bs-nav-link-padding-y: 0 !important;
}
.footer {

}
